.banner {
  display: none;

  &--active {
    display: flex;
    z-index: 10;
  }

  &__button {

    width: 48px;
    height: 48px;
    max-height: 100%;
    border-radius: 50%;
    border: none;

    z-index: 10;
    background-color: $color-black;

    svg {
      width: 24px;
      height: 24px;
      color: $color-white;
    }
  }
}