.custom-search {
  position: relative;

  &__field {
    padding: 17px 16px;
    border: 1px solid $color-periwinkle;
    border-radius: 8px;
    width: 100%;
    color: $color-black;
    font-size: 14px;
    line-height: 18px;
  }
}