  .pattern-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;

    &__item {
      padding: 12px 14px;
      font-size: 12px;
      line-height: 14px;
      border-radius: 8px;
      color: $color-black-russian;
      background-color: $color-lavander;

      &:hover,
      &:focus {
        background-color: $color-link-water;
        cursor: pointer;
      }

      @include vp-768 {
        font-size: 13px;
        line-height: 16px;
      }
    }

    &__pattern-list-link {
      white-space: nowrap;
    }
  }