.result {
  margin: 0;
  padding: 0 0 40px;

  &__search-title {
    padding: 0;
    margin: 0 0 54px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    position: relative;

    @include vp-768 {
      margin: 0 0 64px;
    }

    &::after {
      content: "";
      width: 100vw;
      position: absolute;
      height: 1px;
      background-color: $color-hawkes-blue;
      left: 50%;
      transform: translateX(-50%);
      bottom: -25px;

      @include vp-768 {
        bottom: -32px;
      }
    }

  }
}