.result {
  margin: 0;
  padding: 0 0 40px;

  @include vp-1024 {
    padding: 0 0 58px;
  }

  &__search-title {
    padding: 0;
    margin: 0 0 54px;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    position: relative;

    @include vp-768 {
      margin: 0 0 67px;
    }

    @include vp-1024 {
      font-size: 40px;
      line-height: 44px;
      margin: 0 0 120px;
    }

    &::after {
      content: "";
      width: 100vw;
      position: absolute;
      height: 1px;
      background-color: $color-hawkes-blue;
      left: 50%;
      transform: translateX(-50%);
      bottom: -25px;

      @include vp-768 {
        bottom: -32px;
      }

      @include vp-1024 {
        bottom: -40px;
      }
    }
  }

  &__inner {
    @include vp-1024 {
      padding: 0 69px;
    }
  }

  &__search-form {
    display: unset;

    @include vp-1024 {
      display: flex;
      gap: 16px;
      margin: 0 0 80px;
    }
  }

  &__search-button {
    display: none;

    @include vp-1024 {
      display: block;
      padding: 19px 33px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: $color-white;
      background-color: $color-royal-blue-1;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $color-free-speech-blue;
    }

    &:disabled {
      color: $color-black;
      background-color: $color-white-smoke;
    }
  }
}