.search-button {
  display: none;
  max-height: 56px;

  @include vp-1024 {
    display: block;
    padding: 19px 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-white;
    background-color: $color-royal-blue-1;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $color-free-speech-blue;
  }

  &:disabled {
    color: $color-black;
    background-color: $color-white-smoke;
  }
}
