.search {
  margin: 0;
  padding: 0 0 60px;

  @include vp-768 {
    padding: 0 0 40px;
  }

  @include vp-1024 {
    padding: 0 0 70px 0;
  }

  @include vp-1304 {
    padding: 0 0 62px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include vp-768 {
      margin: 0 0 38px;
      flex-direction: row;
      gap: 40px;
    }

    @include vp-1024 {
      margin: 0 0 10px 0;
      gap: 60px;
    }

    @include vp-1304 {
      margin: 0 0 14px 0;
    }

    &--empt {
      margin: 0;

      @include vp-768 {
        margin: 0 0 18px;
      }
    }
  }

  &__search-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 54px;
    position: relative;

    @include vp-768 {
      margin: 0 0 64px;
      font-size: 32px;
      line-height: 36px;
    }

    @include vp-1024 {
      margin: 0 0 120px;
      font-size: 40px;
      line-height: 44px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 55px;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      border: 1px solid $color-hawkes-blue;

      @include vp-768 {
        top: 64px;
      }

      @include vp-1024 {
        top: 82px;
      }
    }
  }

  &__inner {
    padding: 0;

    @include vp-1024 {
      padding: 0 69px;
    }

    @include vp-1304 {
      padding: 0 209px;
    }
  }

  &__block {
    @include vp-768 {
      margin: 0 0 80px;
    }
  }

  &__caption-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    @include vp-768 {
      align-items: flex-start;
    }
  }

  &__caption {
    font-size: 20px;
    line-height: 24px;

    @include vp-768 {
      font-size: 24px;
      line-height: 28px;
    }

    @include vp-1024 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 18px;

    @include vp-768 {
      margin: 0;
    }

    @include vp-1024 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__image {
    @include vp-360 {
      width: 140px;
      height: 140px;
    }

    @include vp-768 {
      width: 180px;
      height: 180px;
    }

    @include vp-1024 {
      width: 240px;
      height: 240px;
    }
  }
}
